<div th:fragment="nav-modal">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img th:src="@{/img/logo-2.png}" width="30" height="30"> TaskManager
            </a>
            <a class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="offcanvas" href="#offcanvasNavbar" role="button" aria-controls="offcanvasNavbar">
                <img th:src="@{/img/user-profile.png}" width="30" height="30">
            </a>
        </div>
    </nav>

    <!-- Offcanvas Block --->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="--bs-offcanvas-width: 300px;">
        <div class="offcanvas-header">
            <h5 sec:authorize="isAuthenticated()">Привет, <span sec:authentication="name" id="username"></span>! 👋🏻</h5>
            <h5 sec:authorize="!isAuthenticated()">Привет, незнакомец! 🥷🏻</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="accordion" id="accordionProjects">
                        <div class="accordion-item" style="border: none">
                            <div class="accordion-header d-flex justify-content-center">
                                <a class="d-block link-body-emphasis text-decoration-none" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOneProjects"
                                   aria-expanded="true" aria-controls="collapseOneProjects">
                                    <img th:src="@{/img/projects-2.png}" width="30" height="30"> Проекты
                                </a>
                            </div>
                            <div id="collapseOneProjects" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
                                <div class="accordion-body">
                                    <ol class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-start" th:each="project : ${projects}">
                                            <a class="link-body-emphasis text-decoration-none" th:href="'/project/' + ${project.getProjectId}" th:text="${project.getTitle}"/>
                                            <span class="badge bg-primary rounded-pill">14</span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-center">
                    <div>
                        <a class="d-block link-body-emphasis text-decoration-none" role="button">
                            <img th:src="@{/img/task-2.png}" width="30" height="30"> Мои задачи
                        </a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-center">
                    <div>
                        <a class="d-block link-body-emphasis text-decoration-none" role="button">
                            <img th:src="@{/img/settings-2.png}" width="30" height="30"> Настройки
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="offcanvas-footer d-flex justify-content-center mb-3">
            <!-- Button trigger modal -->
            <button sec:authorize="!isAuthenticated()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
                Вход
            </button>
            <button sec:authorize="isAuthenticated()" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#logoutModal">
                Выйти
            </button>
        </div>
    </div>

    <!-- Login Modal -->
    <div sec:authorize="!isAuthenticated()" class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginModalLabel">Вход</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col g-3 align-items-center">
                        <div class="col-auto">
                            <label for="login" class="col-form-label">Логин/email</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="login" class="form-control">
                        </div>
                        <div class="col-auto">
                            <label for="password" class="col-form-label">Пароль</label>
                        </div>
                        <div class="col-auto">
                            <input type="password" id="password" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="login()">Вход</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Logout Modal -->
    <div sec:authorize="isAuthenticated()" class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="logoutModalLabel">Выход</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите выйти из своего аккаунта?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" onclick="location.href='/logout'">Выйти</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Остаться</button>
                </div>
            </div>
        </div>
    </div>
</div>